<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" id="about">
        <h1>Hackaday Projects</h1>
        <img src="/img/hack.jpg" />
        <h2>This page showcases projects from Hackaday.io, and their respective metadata, owner information, and uses pagination.</h2>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>