/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */
/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
body {
  font: 100% "Josefin Sans", serif;
  color: #e63946;
  background-color: #1d3557; }
