<nav aria-label="...">
        <ul class="pager">
          <li class="previous" style="visibility: hidden;"><a href="#" onclick="prev();return false;"><span aria-hidden="true">&larr;</span> Prev</a></li>
          <li class="next"><a href="#" onclick="next();return false;">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
</nav>