@import 'base/palette';
@import 'base/reset';
@import 'base/fonts';
@import 'layout/projects';
@import 'layout/projectDetail';
@import 'layout/about';
@import 'layout/config';
@import 'layout/responsive';


body {
    font: 100% $font-stack;
    color: black;
    background-color: $color5;
}

footer {
    margin-bottom: 15px;
}

h1 {
    font-family: $header-stack;
    font-weight: 900;
    font-size: 35px;
}

h2 {
    font-weight: 900;
    font-size: 25px;
}

h3 {
    font-weight: 900;
    font-size: 19px;
}

.jumbotron p {
    margin-bottom: 0 !important;
    font-size: 100% !important;
    font-weight: 0 !important;
}

.tippy-content {
    padding: 0.7em;
}

.loader {
    border: 16px solid $color2;
    border-radius: 50%;
    border-top: 16px solid $color3;
    width: 400px;
    height: 400px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    align-self: center;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav { 
    li >  a {
        color: black;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}